* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2317fcd1' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1vw 10vw;
}

.card {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  border-radius: 10px;
  box-shadow: 2px 2px 3px gray;
  color: #ffffff;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease;
}

.card:hover {
  background: linear-gradient(to right, #f12711, #f5af19);
}